.headerStyle{
  th{
    background-color: rgb(247,249,252) !important;
    color: $font-color-title;
  }
  padding:10px;
}
.cursor-pointer{
  cursor: pointer;
  color:$color-primary;
}
.flexbox{
  display:flex;
}
.margin-top{
  margin-top: 20px;
}
.margin-top10{
  margin-top: 10px;
}
.margin-right{
  margin-right: 20px;
}
.margin-right10{
  margin-right: 10px;
}
.text-right{
  text-align: right;
}
.border-box{
  border: 1px solid $border-color-one;
}
.flex-center{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
