.headerStyle{
  th{
    background-color: rgb(247,249,252) !important;
    color: $font-color-title;
  }
  padding:10px;
}
.cursor-pointer{
  cursor: pointer;
  color:$color-primary;
}
.primary-text{
  color:$color-primary;
}
.primary2-text{
  color:$color-primary2;
}
.flexbox{
  display:flex;
}
.margin-top{
  margin-top: 20px;
}
.margin-top10{
  margin-top: 10px;
}
.margin-right{
  margin-right: 20px;
}
.margin-bottom{
  margin-bottom: 20px;
}
.margin-right10{
  margin-right: 10px;
}
.margin-left10{
  margin-left: 10px;
}
.text-right{
  text-align: right;
}
.border-box{
  border: 1px solid $border-color-one;
}
.flex-center{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.flex-end{
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
// monaco-editor 样式
.editor-toolbar{
  height: 46px;
  padding: 0 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editor-toolbar__language {
  font-size: 16px;
  margin-right: 25px;
  white-space: nowrap;
  font-weight: 500;
}
//  tab-header 样式
.tab-header__header-wrapper{
  .el-tabs__header{
    margin: 10px 0 0 0;
  }
  .el-tabs__item{
    height: 50px;
    font-size: $font-size-18;
  }
  .el-tabs__nav-wrap{
    margin-bottom:0;
  }
}
// help图标颜色
.question-icon{
  color: $icon-color;
  font-size: $font-size-18;
}
// descriptions 样式
.descriptions-div{
  background:$background-color;
  border-radius: $border-radius-l;
  padding:20px;
  .el-descriptions__body{
    background:$background-color
  }
  .el-descriptions-item__label{
    min-width: 100px;
    display:inline-block;
    text-align: right;
  }
}
.requireFlag{
  color: #ff4949;
  margin-right: 4px;
}
.text-center{
  text-align: center;
}
.margin0{
  margin: 0;
}
// 列表后 。。。 样式
.operation-cell {
  i {
    font-size: $font-size-20;
    color: $color-primary;
    cursor: pointer;
  }
}
// 列表中 状态列 样式
.status-cell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  i {
    margin-right: 10px;
    font-size: $font-size-20;
  }
  .running {
    color: $button-color-success;
  }
  .stop {
    color: $button-color-info;
  }
  .pending {
    color: $button-color-link;
  }
}
// 表格内 expand 样式
.inTable-desc{
  background:$background-color;
  border-radius: $border-radius-l;
  padding: 10px 20px;
  p{
    margin: 0;
    line-height: $line-height-24;
  }
}
// 无数据展示样式
.empty-div{
  border: none;
  padding: 14px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  min-height: 60px;
  font-size: $font-size-14;
  line-height: $line-height-20;
  color: $font-color-auxiliaryext;
  background-color: $background-color2;
  border-radius: $border-radius-l;
  margin-top: 10px;
}
